*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
/* root used for color specifications more easier */
:root{
    --text-color:#000000;
    --bg-color:#fff;
    --main-color:rgb(3,119,227);
    --other-color:#b5b9bf;

    --h1-font:4.5rem;
    --h2-font:2.9rem;
    --p-font:1rem;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16%;
    background: var(--bg-color);
    transition: all 0.5s ease;
}
.logo{
    font-size: 36px;
    color: var(--text-color);
    font-weight: 700;
}
.mainheading{
    color: black;
}
.middle{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a {
font-size: var(--p-font);
font-weight: 750;
color: var(--text-color);
margin-left: 40px;
transition: all 0.5s ease;
}
.navlist a:hover{
    padding-right: 10px;
    color: var(--main-color);
}
#menu-icons{
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}
.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background: transparent;
    color: var(--text-color);
    border: 4px solid var(--main-color);
    transform: scale(1.1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s ease;
}
.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}
section{
    padding: 115px 16% 90px;
}
.hero{
    height: 95vh;
    width: 100%;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.main-content h3{
    font-size: 1.4rem;
}
.socialmedia i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--text-color);
    backdrop-filter: brightness(80%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    
}
.socialmedia i:hover{
    transform: scale(1.1);
}
.btn:hover{
    background: transparent;
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}
.main-content h1{
    font-size: var(--h1-font);
    font-weight: 800;
    margin: 20px 0px 20px;
    line-height: 1.3;
}

  .cv{
    padding: 11px 26px;
    background-color: #000000;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s ease;
    width: 14%;
  }
  .cv a:hover{
    transform: scale(0);
  }
  .image{
    position: relative;
    margin-left: 600px;
    margin-top: -500px;
    box-shadow: 0 0 20px transparent;
  }
  .image img:hover{
    transform: scale(1.1);
  }
  .port{
    margin-left:-2%;
    margin-top: 10%;
  }
  
  